@import "tailwindcss";





@theme {
 --color-pine-teal-50: #e5fff8;
--color-pine-teal-100: #ccfff1;
--color-pine-teal-200: #99ffe2;
--color-pine-teal-300: #66ffd4;
--color-pine-teal-400: #33ffc5;
--color-pine-teal-500: #00ffb7;
--color-pine-teal-600: #00cc92;
--color-pine-teal-700: #00996e;
--color-pine-teal-800: #006649;
--color-pine-teal-900: #003325;
--color-pine-teal-950: #00241a;

--color-dark-emerald-50: #edf8f3;
--color-dark-emerald-100: #dbf0e6;
--color-dark-emerald-200: #b7e1cd;
--color-dark-emerald-300: #92d3b5;
--color-dark-emerald-400: #6ec49c;
--color-dark-emerald-500: #4ab583;
--color-dark-emerald-600: #3b9169;
--color-dark-emerald-700: #2c6d4f;
--color-dark-emerald-800: #1e4834;
--color-dark-emerald-900: #0f241a;
--color-dark-emerald-950: #0a1912;

--color-sea-green-50: #eff5f1;
--color-sea-green-100: #dfece3;
--color-sea-green-200: #c0d8c7;
--color-sea-green-300: #a0c5ab;
--color-sea-green-400: #81b18e;
--color-sea-green-500: #619e72;
--color-sea-green-600: #4e7e5b;
--color-sea-green-700: #3a5f45;
--color-sea-green-800: #273f2e;
--color-sea-green-900: #132017;
--color-sea-green-950: #0e1610;

--color-ash-grey-50: #f0f5f1;
--color-ash-grey-100: #e1eae4;
--color-ash-grey-200: #c3d5c9;
--color-ash-grey-300: #a5c0ad;
--color-ash-grey-400: #87ab92;
--color-ash-grey-500: #699677;
--color-ash-grey-600: #54785f;
--color-ash-grey-700: #3f5a47;
--color-ash-grey-800: #2a3c30;
--color-ash-grey-900: #151e18;
--color-ash-grey-950: #0f1511;

--color-platinum-50: #f0f2f4;
--color-platinum-100: #e2e4e9;
--color-platinum-200: #c5cad3;
--color-platinum-300: #a8afbd;
--color-platinum-400: #8b94a7;
--color-platinum-500: #6e7a91;
--color-platinum-600: #586174;
--color-platinum-700: #424957;
--color-platinum-800: #2c313a;
--color-platinum-900: #16181d;
--color-platinum-950: #0f1114;

--color-alabaster-grey-50: #f0f2f4;
--color-alabaster-grey-100: #e2e4e9;
--color-alabaster-grey-200: #c4c9d4;
--color-alabaster-grey-300: #a7afbe;
--color-alabaster-grey-400: #8a94a8;
--color-alabaster-grey-500: #6c7993;
--color-alabaster-grey-600: #576175;
--color-alabaster-grey-700: #414958;
--color-alabaster-grey-800: #2b303b;
--color-alabaster-grey-900: #16181d;
--color-alabaster-grey-950: #0f1115;

--color-light-coral-50: #faebeb;
--color-light-coral-100: #f5d6d6;
--color-light-coral-200: #ebadad;
--color-light-coral-300: #e08585;
--color-light-coral-400: #d65c5c;
--color-light-coral-500: #cc3333;
--color-light-coral-600: #a32929;
--color-light-coral-700: #7a1f1f;
--color-light-coral-800: #521414;
--color-light-coral-900: #290a0a;
--color-light-coral-950: #1d0707;

--color-brick-ember-50: #fee7e7;
--color-brick-ember-100: #fdcece;
--color-brick-ember-200: #fa9e9e;
--color-brick-ember-300: #f86d6d;
--color-brick-ember-400: #f63c3c;
--color-brick-ember-500: #f40b0b;
--color-brick-ember-600: #c30909;
--color-brick-ember-700: #920707;
--color-brick-ember-800: #610505;
--color-brick-ember-900: #310202;
--color-brick-ember-950: #220202;

--color-mahogany-red-50: #fee7e8;
--color-mahogany-red-100: #fdced1;
--color-mahogany-red-200: #fa9ea2;
--color-mahogany-red-300: #f86d74;
--color-mahogany-red-400: #f63c45;
--color-mahogany-red-500: #f40b17;
--color-mahogany-red-600: #c30912;
--color-mahogany-red-700: #92070e;
--color-mahogany-red-800: #610509;
--color-mahogany-red-900: #310205;
--color-mahogany-red-950: #220203;

--color-deep-crimson-50: #fee6e9;
--color-deep-crimson-100: #fecdd3;
--color-deep-crimson-200: #fc9ca7;
--color-deep-crimson-300: #fb6a7b;
--color-deep-crimson-400: #fa384f;
--color-deep-crimson-500: #f90623;
--color-deep-crimson-600: #c7051c;
--color-deep-crimson-700: #950415;
--color-deep-crimson-800: #63030e;
--color-deep-crimson-900: #320107;
--color-deep-crimson-950: #230105;


}
